body{
    height: 700px;
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    position: absolute;
    top: 650px;
}

p {
    font-size: 25px;
}

button {
    font-size: 20px;
    padding: 15px;
    background-color: rgb(123, 241, 225);
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 0px 10px 4px rgba(50, 50, 50, 0.75);
}
#personaje{
    background-color: brown;
    color: white;
    padding: 5px;
    width: 350px;
    margin: auto;
    border-radius: 20px;
    position: relative;
    top: -150px;
}
.apartado{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
    height: 60px;
}

#portada {
    text-align: center;
    background-color: black;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    animation: desvanecerPortada 3s ease-in forwards;
}

#titulo {
    position: relative;
    top: 30%;
    font-size: 100px;
    text-transform: uppercase;
}

@keyframes desvanecerPortada {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}