h1{
    position: relative;
    left: 10%;
    top: 10%;
    width: 400px;
}
div{
    position: relative;
    left: 10%;
    top: 10%;
}
#juego{
    width: 700px;
}
#acciones{
    width: 340px;
    position: relative;
    left: auto;
    top: 50%;
    text-align: center;
    align-items: center;
    background-color: #59e4c6;
    border-radius: 20px;
    padding: 20px;
}
#acciones h2{
    margin-top: 0px;
    margin-bottom: 10px;
}
#acciones button{
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}
#inventario{
    background-color: rgb(233, 85, 85);
}
#inventarioObjs{
    width: 200px;
    position: relative;
    top: 50%;
    background-color: #59e4c6;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
}
.objsInv{
    margin: auto;
}
.apartadoObjsInv{
    display: flex;
    right: 0px;
    left: 0px;
}
.statJugador{
    display: flex;
    width: 150px;
    position: relative;
    top: 50%;
    background-color: #59e4c6;
    border-radius: 20px;
    padding: 5px;
    margin: 20px;
    justify-content: space-around;
}
#acciones button:hover{
    box-shadow: 0px 0px 10px 4px rgba(50,50,50,0.75);
}
#tienda{
    text-decoration: none;
    color: black;
}
#interComba{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
    background-color: red;
    position: absolute;
    left: 80%;
    top: 10%;
}
#nivelSubir{
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 90px;
    background-color: rgb(101, 255, 219);
    position: absolute;
    left: 100vh;
    top: 20%;
}